@import "tailwindcss";

/* backgroubd untuk hero section beranda */
.bg-img-hero-section-beranda {
    background-image: url(img/hero-section-beranda.png);
    background-repeat: no-repeat;
    background-size: cover;

}

/* background untuk login (Alfarez Ganteng banget jir) */

.bg-img-login {
    /* background-image: url(img/background.jpg); Nanti backgroundnya diganti */
    background-repeat: no-repeat;
    background-size: 100%;
}